@font-face {
    font-family: "Inter";
    src: url("Inter-Bold.ttf");
  }

  body {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-family: "Inter", sans-serif;
      color: black;
  }

  .container {
      display: flex;
      flex-grow: 2;
      height: 100vh;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

    .container:first-of-type {
      border-right: 1px solid rgba(0,0,0,.1);
  }

    .selected {
    color: #DB3EB1;
}

  .player-human {
    font-size: 1.8em;
    position:absolute;
    margin-top: -35%;
  }

  .player-computer {
    font-size: 1.8em;
    position:absolute;
    margin-top: -35%;
  }

  .winner {
    background-color: black;
    color: white;
}

  .human-container {
    font-size: 8em;
    line-height: 1.3em;
    letter-spacing: -0.08em;
}

  .human:hover {
    color: #DB3EB1;
    cursor: pointer;
  }

  .computer-container {
    font-size: 8em;
    line-height: 1.3em;
    letter-spacing: -0.08em;
}

  .announcement {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #DB3EB1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  .announcement .win {
    font-size: 8.5em;
    letter-spacing: -0.08em;
    line-height: 0.9em;
    text-align: center;
}

  .visible {
    display: flex;
}

  .computerScore {
    font-size: 1.5em;
    position:absolute;
    margin-top: 35%;
    margin-left: 5%;

}

  .humanScore {
    font-size: 1.5em;
    position:absolute;
    margin-top: 35%;
    margin-left: 5%;
}
